@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  margin: 0 5%;
}

header {
  margin: 9% 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 12em;
}

header .stars {
  margin-right: 3em;
}

header .stars-container {
  background-color: hsl(300, 24%, 96%);
  height: 20px;
  width: 400px;
  margin-bottom: 10px;
}

.rated > div {
  display: flex;
  color: hsl(300, 43%, 22%);
  margin: 19px auto;
  padding: 15px 12px;
}

.stars-container:nth-child(1) {
  margin-left: 0;
}

.stars-container:nth-child(2) {
  margin-left: 50px;
}

.stars-container:nth-child(3) {
  margin-left: 100px;
}

.rated h4 {
  font-weight: 700;
  font-size: 18px;
}

header .words h1 {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 25px;
}

header .words p {
  color: hsl(303, 10%, 53%);
  font-size: 20px;
  font-weight: 500;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 2em;
}

section .box {
  background-color: hsl(300, 43%, 22%);
  padding: 27px 30px;
  margin: 50px 0;
  box-shadow: 12px -8px 18px -3px rgba(0, 0, 0, 0.1);
  border-radius: 1.2em;
  height: 11rem;
}

section .box h3 {
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding-bottom: 23px;
  line-height: 0.1px;
}

section .box .active {
  color: hsl(333, 80%, 67%);
}

section .box p {
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  margin: 23px 0;
}

section .box:nth-child(1) {
  margin-top: 0;
}

section .box:nth-child(2) {
  margin-top: 19px;
}

section .box:nth-child(3) {
  margin-top: 39px;
}

section .container {
  display: flex;
  gap: 1.5rem;
  padding-top: 23px;
}

section .container img {
  width: 2.5em;
  border: 1px solid hsl(303, 10%, 53%);
  border-radius: 20px;
}

/* Hover properties */
section .box:hover {
  font-size: 19px;
  position: relative;
  top: 12px;
  bottom: 20px;
}

.rated > div:hover {
  font-size: 25px;
  background-color: hsl(303, 10%, 53%);
}

.attribution {
  text-align: center;
  font-size: 20px;
  padding-bottom: 1em;
}

/* media queries */

@media screen and (max-width: 700px) {
  header {
    display: block;
    text-align: center;
    font-size: 20px;
    max-width: 350px;
  }

  .rated > div {
    display: block;
    padding-bottom: 40px;
    padding-left: 12px;
    text-align: center;
  }

  .stars-container:nth-child(1) {
    margin-left: 0;
  }

  .stars-container:nth-child(2) {
    margin-left: 0;
  }
  
  .stars-container:nth-child(3) {
    margin-left: 0;
  }

  header .words p {
    font-size: 26px;
    font-weight: 700;
  }
  

  section {
    display: block;
  }

  section .box {
 max-width: 350px;
   
    height: 10rem;
  }
}
